.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
  border-radius: 25px;
  background-color: #ef6025;
  letter-spacing: 0.5px;

  .button__text__container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 7.5px;

    .button__text {
      color: #fff;
      @include font-size(9px, 0);
    }
  }

  .button__icon__container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .button__icon {
      color: #fff;
      margin-left: 7.5px;
      @include font-size(12px, 0);
    }
  }
}
