@font-face {
  font-family: "Sen Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sen Regular"), url("./../../assets/fonts/Sen-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Sen Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Sen Bold"), url("./../../assets/fonts/Sen-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Sen ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Sen ExtraBold"), url("./../../assets/fonts/Sen-ExtraBold.ttf") format("ttf");
}
